<nav class="navbar navbar-expand-lg navbar-light bg-light bg-info">
    <a class="navbar-brand" href="#">Learn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link btn btn-outline-info" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-info" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="dropdown" id="navbarDropdown"  data-toggle="dropdown">
            News24
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home">Action</a>
            <a class="dropdown-item" href="/about">See more</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link abled btn btn-outline-info" href="/articles" tabindex="0" aria-disabled="false">Articles</a><li>      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <ul class=" nav  navbar-nav navbar-right">
         {% if session.logged_in  %}
          <a class="btn btn-outline-info" href="/logout">Logout</a></li>
          <a class="btn btn-outline-info" href="/dashboard">Dashboard</a></li>
         {% endif %}
         {% if session.logged_in == NULL %}
          <a class="btn btn-outline-info" href="/register">Register</a></li>
         {% endif %}
      </ul>
      </form>
    </div>
  </nav>    